[2015-03-31 13:35] tkell opened #1 "TODO: Add list of prior contributors"
Old Remix had lots of people on it, and we should mention them, 'cause they're great.

[2015-04-01 01:26] tkell commented on #1
Fixed, woo!  Software development is easy!

[2015-04-01 01:26] #1 closed

[2015-06-01 18:26] bmcfee opened #4 "Analysis object"
Let's start scoping this thing out!

What functionality does the Analysis object need to provide, and what should the interface look like?

For now, let's not limit ourselves to compatibility with EN remix.  Backwards compatibility can always be tacked on with a translation layer.  I'm more interested in making sure the core is well designed and extensible in the right kinds of ways.

I'll start o

[2015-06-06 20:25] bmcfee opened #5 "Remix interface"
[documenting offline conversation with @blacker ]

Some quick thoughts about how the interface for synthesizing waveforms should look.

* We'll need some kind of audio container object that includes an audio buffer + metadata (sampling rate, # channels, duration, etc)
* Synthesis happens via generators, eg something like this for a beat-reverser:
[code]
  * The generator returns an audio container

[2015-06-06 22:03] bmcfee opened #6 "Feature object"
Starting a new thread to expand on the feature object design that I vaguely started in #4.

In the previous jam, we had features like 'timbre' and 'pitch' connected to segments.  I'd like to abstract out features from timing in amen, since different features may come at different sampling rates.  Here, I'm distinguishing feature observations like 'pitch' and 'timbre' from time-index observations,

[2015-06-06 22:04] blacker commented on #4
[documenting offline conversation with @bmcfee ]

The Analysis object will contain
* an Audio object, which will have
  * an audio buffer
  * sample rate
  * # channels
  * duration
  * filename (optional?)
* a Features object, which will have
  * timbre
  * pitch
  * etc etc etc, the point is that this is extensible
* Timing objects: Beats, Bars, Sections, etc. These will probably be pretty stabl

[2015-06-07 02:12] bmcfee commented on #5
Some other points to work out here:

- How do we handle different sampling rates?

We can have `synthesize` resample each signal to the target rate, but this might be wasteful.  Maybe there's something more clever we could do?

- What about stereo/mono discrepancies?

I think this isn't too difficult, but I might be missing something.

Stereo samples for a mono target get downmixed; mono samples f

[2015-06-07 15:05] bmcfee commented on #6
Does it make sense to have something like a `FeatureCollection` object that groups individual features (eg, pitches and timbres)?

I'm imagining a use case where you want, say, pitches and timbres, sampled per beat.  Indexing each feature individually would be a bit of a pain:

[code]

Instead, if we could make the feature collection support time indexing:
[code]

A FeatureCollection could again b

[2015-06-07 15:24] bmcfee commented on #6
Another thought: it might be useful to allow the user to override the default resample/aggregation function.

For instance, most numerical features probably should use mean aggregation for downsampling against, say, beats, but the user might have something different in mind, eg, variance or ohlc might be sometimes useful.

[2015-06-15 16:07] blacker commented on #5
* How do we handle different sample rates?

@bmcfee can you elaborate on how resampling each signal to the target rate could we wasteful? I imagine that resampling would happen at the "last minute", in `synthesize`, so we could resample only the portions of each input signal that are actually getting included in the output.

* How do we handle output duration?

Pre-allocating a large matrix sounds

[2015-06-15 16:17] bmcfee commented on #5
Yes, but that could introduce artifacts at the boundaries, especially in the low frequencies.  It's probably better to resample the entire source signal and then trim out the sample.  Of course, if the input is really large, and we're only grabbing a few small pieces of it, then this will do much more work than we need.

A compromise might be to resample a large window around the source sample, an

[2015-06-15 17:16] blacker commented on #6
I agree that it's useful to be able to neatly access multiple features for a given `TimeSlice`, although the `FeatureCollection` approach requires the user to go fetch the actual `TimeSlice` separately:

[code]

Would it make more sense to be able to index an individual feature by a specific `TimeSlice`? Like

[code]

[2015-06-15 17:17] blacker commented on #5
That all makes sense. And I agree that a full resample at synthesis time is a good approach for the initial version.

[2015-06-15 17:18] blacker commented on #6
and +1 for allowing user's to implement custom resample/aggregation logic for a feature

[2015-06-15 17:30] bmcfee commented on #6
I suppose it all depends on how we want to define the slicing operation.

In the first example, ``track.features`` is indexed by an array of ``TimeSlice`` objects, and presumably returns a new ``FeatureCollection`` (after aggregation) which is then iterated row-wise.

The the second example, each ``FeatureCollection`` is indexed by a single ``TimeSlice`` and returns a row of the (aggregated) featu

[2015-06-20 20:16] tkell commented on #6
+1 to this.  I think our talk at MMHD June ended up with:

`some_feature_collection['pitches'].at(some_time_slice_collection)`

[2015-06-20 20:32] bmcfee commented on #6
alternatively:
[code]

[2015-06-20 20:48] blacker commented on #6
Is this a case where we should settle on just one way to do it? I prefer the second way, because it makes it easier to do
[code]

[2015-06-20 20:59] tkell commented on #6
I think we get both, do we not?  .at will work on a FeatureCollection, regardless of what is in it.

[2015-06-21 04:24] tkell opened #7 "Loading Audio"
..brought to you by a frustrating day reinstalling my Ubuntu partition.

For the moment, I think we just worry about loading WAV and MP3 - Brian's said that librosa can deal with both of them.

I feel like we want to do `analysis = amen.load('some_audio_file.wav')`.  Does this generate all analyses that are possible?  Or do we do something like:

[code]

The former has the advantage of being simpl

[2015-06-22 15:38] blacker commented on #7
I never want to have to tell amen what it needs to analyze. I think it should figure it out on its own and do it as lazily as possible. So you just do ``analysis = amen.load('whatever.mp3')`` and the first time you ask for ``analysis['pitches'].at(analysis.beats)`` it does those analyses.

[2015-06-22 15:53] bmcfee commented on #7
Once the audio's decoded and in memory, most of the analysis should be fast (ie, near linear time).  I think it would be simplest all around to just have `amen.load` call out to a big beefy analysis routine that constructs all the feature and timing objects up front.

[2015-06-22 16:07] tkell commented on #7
Got it.  So to combine these, we make `amen.load` do a whole set of basic analyses, but when we call `analysis['crazy_expensive_timbre_analysis']`, it goes out and gets that crazy analysis.  Sound OK?

[2015-06-22 18:44] bmcfee commented on #7
Sure.

More generally, we've been planning to have a core set of `Feature` implementations that can change and/or grow later on in subsequent versions.  Does it also make sense to generally make this dynamic?

For instance, say I write an analyzer that can find all the cowbells in a song.  We could probably just add a new `Feature` object to the `FeatureCollection` as needed, if it acts as a dict-

[2015-06-22 18:50] tkell commented on #7
I approve!

[2015-06-24 15:18] bmcfee opened #9 "Features via vamp"
This package is awesome: https://pypi.python.org/pypi/vamp

I think it would be pretty easy to build some glue that converts vamp outputs into feature objects ala #6 .

[2015-06-24 16:45] blacker commented on #9
Wow yeah, vamp is awesome.

So this glue would let people use *any* vamp plugin as the basis for algoremixing?

[2015-06-24 17:00] tkell commented on #9
a)  I think this is feature-creepy, a little
b)  I think if we build things right, we can do this really easily, which would be super nice.

[2015-06-24 18:26] bmcfee commented on #9
@tkell agreed.  My thinking though, is that providing a small amount of vamp glue would let people plug in things like melodia to get melody contours, without us having to rewrite everything from scratch.  Since we're not imposing any particular timing grid on the feature objects, this should be seamless and easy to do.

[2015-08-16 19:44] bmcfee commented on #6
Talking with @tkell today: I think we're ok with indexing by either a TimeSlice or a collection of TimeSlices.

[2015-09-26 23:55] tkell commented on #6
This is in a decent place, in feature.py - I need to write a few more tests and then we'll have it.

[2015-09-26 23:56] tkell opened #16 "Move to new Travis system"
Tagging @bmcfee to do this, because he's done it for librosa.

[2015-10-24 20:02] tkell opened #18 "Default DSP Settings"
Librosa has defaults of a 22050 sample rate, and a hop length of 512.

Brian comment that we may eventually use other feature generation / analysis tools that having other defaults, and should consider that.

I feel like we can worry about that when we get there, myself?

[2015-10-24 20:46] bmcfee commented on #18
There are a few concerns here:

1) librosa has defaults, and they might not be what we want for any given task.  (For example, it's possible to get more accurate onset detection just by ramping up the sampling rate and decreasing the hop size.)

2) for any given analysis within librosa, the optimal settings may change.  Overriding the defaults is generally easy, but you do have to be consistent in

[2015-10-24 20:58] tkell commented on #18
a)  Presets is gorgeous, but terrifies me.  Are you sure you're not a Ruby programmer? ; p

b) For the purposes of Amen, we're extracting each feature in its own function.  Would it be too simple to simply change the librosa defaults in a feature extraction function that needs changing?

[2015-10-24 21:03] bmcfee commented on #18
:rage4:

Seriously though, It doesn't actually do anything to the module, it just provides quasi-transparent wrappers that clobber defaults with custom settings.

Not at all.  I'm simply thinking ahead to potential headaches that might arise if we decide to change settings down the line and maybe forget to update a function call.  (This has been known to happen.)

[2015-11-08 01:06] bmcfee commented on #18
FWIW: in one of my other projects, I'm moving to `sr=32768` and `hop_length=512` because powers of two give me warm fuzzies inside (and simpllify a lot of downsampling/pooling logic)`

[2015-11-08 15:27] blacker commented on #18
wow, never heard of that sample rate before, and my initial knee-jerk reaction has given way to reading wikipedia about the many different rates ppl actually use. 352800Hz, 5644800Hz, it's a wide world out there

[2015-11-17 17:49] #16 closed

[2015-12-02 17:15] tkell commented on #5
So just so I am sure about this resampling, we want to take each audio source and re-load the entire file for that audio source, at the target output sample rate?

I also have a version of this working that pre-calculates the size of the target matrix.  Do you cats feel strongly that preallocating a giant sparse matrix then trimming is better?

[2015-12-02 17:28] bmcfee commented on #5
Yeah.  Like I said above, it's inefficient, but correct, and we can make it more efficient later on.

How does that work?  The generator-based synthesis does not know the total track duration.

The algorithm I had in mind is to preallocate something absurdly large with a `scipy.sparse` matrix, and then dynamically compute the effective duration after synthesis.  This should be both memory-efficien

[2015-12-02 17:49] tkell commented on #5
Oh, because I didn't make synthesize take a generator - at the moment it just takes a list.

I suppose if we want it to accept a list or a generator, we'll have to preallocate.

[2015-12-02 17:51] bmcfee commented on #5
Ah.  I think it's better to implement the generator version first, and then wrap it with a simpler list interface.

I can hack this out if you're puzzling the details.

[2015-12-02 17:53] tkell commented on #5
(Don't we both have jobs?)

I'll try to get a PR with my version up this weekend, so you cats can see what I am, doing.  I suspect that if we pre-allocate, what I have will work for both a list and a generator.

Also, should this return a new Audio object, or should it write out a .wav file?

[2015-12-02 18:24] bmcfee commented on #5
Yeah, it should be pretty straightforward to switch over.

If it's an Audio object, that opens up the possibility of chaining synthesizers....

[2015-12-02 18:26] tkell commented on #5
So synthesize returns a new audio object, and then an audio object can write itself out as a .wav file.  Got it!

[2015-12-04 03:41] tkell commented on #5
As the above says:  https://github.com/algorithmic-music-exploration/amen/pull/25

[2016-01-13 04:16] tkell commented on #6
I think we can close this - we need to add more features, but the basic stuff is here.

[2016-01-13 04:17] tkell commented on #7
Also thing that we've got this - re-open if you disagree.

[2016-01-13 04:17] #7 closed

[2016-01-13 18:48] bmcfee opened #27 "Code review process"
Just a heads up:

I took the liberty of adding review ninja on here, in an effort to better keep track of what's already been reviewed via PR status.

If people hate it, we can shut it off.

[2016-01-21 01:19] tkell commented on #5
Closing with #25!

[2016-01-21 01:19] #5 closed

[2016-01-21 01:19] #6 closed

[2016-01-27 15:12] #27 closed

[2016-01-31 19:23] tkell opened #29 "Releasing 0.0.1?"
How far out from this are we?  We clearly don't have comparable feature extraction compared to the old remix, but is it worth announcing it / putting it on PyPi anyways?

Related to this is that the Monthly Music Hackathon for February is Automatic Music, so we could announce it as one of the talks.

Thoughts?

[2016-01-31 19:28] bmcfee commented on #29
I still haven't had a chance to play with it thoroughly yet; i tried last week and got an error with the packaged reversal example.  I'll try dig into it more closely tonight.

Otherwise, I'm all for putting out a preliminary release, if only for feedback and testing.

[2016-01-31 19:42] tkell commented on #29
(That error is probably my fault - will take a look this week.)

[2016-01-31 19:55] bmcfee opened #30 "reversal example fails in the wild"
[code]

[2016-01-31 20:03] tkell commented on #30
:bug:

[2016-02-03 03:53] tkell commented on #30
Fixed with https://github.com/algorithmic-music-exploration/amen/pull/31

[2016-02-03 03:55] tkell commented on #29
Fix the bug, (https://github.com/algorithmic-music-exploration/amen/pull/31).

Assuming that there are no more bugs, I feel like we need a nice readme / installation method, and maybe polish the documentation more.

There's also the issue of the test audio file not giving the correct number of beats back.  Would a longer edit of the Amen break work better?

[2016-02-03 04:01] tkell commented on #29
Oh, and will we need to answer the license question before we do a release?

[2016-02-06 02:54] #30 closed

[2016-02-06 02:56] tkell commented on #30
As per my comment on #31, I am going to close this and open a new bug / PR for the mono issue!

[2016-02-06 02:58] tkell opened #32 "Synthesize fails on mono tracks."
As per @bmcfee:

Ok, my original bad test case works now, but this one fails

[code]

Can we expand the test fixtures here to have both stereo and mono examples?

(Yes, yes we can.)

[2016-02-06 03:05] tkell commented on #32
I would like to take mono input and return stereo output.  Is that sane?

[2016-02-06 03:38] tkell commented on #32
Started on this with #33.

[2016-02-06 15:48] bmcfee commented on #32
Yeah.  I remember noodling this out with @blacker, summarized [here](https://github.com/algorithmic-music-exploration/amen/issues/5#issuecomment-109674918).

[2016-02-07 15:37] tkell commented on #32
Got it, thanks!

I am currently making `synthesize` turn everything into stereo, but I will add a `mono` flag to `Audio.to_wav` so people who really, really want mono output can get mono output.

[2016-02-10 02:15] tkell commented on #29
Update:  I am wrestling with some vicious RSI, so I am trying to avoid using computers as much as I can.  Thus, I don't think we can get this out for the February hackathon - but we should still try to do it soon!

[2016-02-17 02:23] tkell opened #34 "Can we use pandas 0.18 to make things nicer?"
http://pandas-docs.github.io/pandas-docs-travis/whatsnew.html#resample-api

At a cursory glance, this appears to resample at constant intervals (`df.resample('2s',how='sum')`, for example), whereas we need to resample at varying intervals.  Will try to read more at the hack this weekend.

[2016-02-17 03:23] tkell commented on #32
I think I've got this with #33.  I am not going to do the `mono` flag in to_wav as part of this, but I'll get to it soon.

Please to send comments & special magic!

[2016-02-23 00:51] tkell commented on #32
Fixed with #33!

[2016-02-23 00:51] #32 closed

[2016-02-26 00:48] bmcfee opened #36 "beat timing is incorrectly quantized"
I was playing with the reverse.py example, and noticed that things were sounding ... strange.

Looking into the code, I noticed [this](https://github.com/algorithmic-music-exploration/amen/blob/master/amen/audio.py#L114), which is incorrect.  The problem here is that `fix_frames` is intended for use with frame indices, which must be integer typed.  When you call this after mapping back to the time

[2016-02-26 16:51] #36 closed

[2016-03-02 00:33] tkell commented on #34
Upon further reading, resample does need to use a constant interval.  Closing.

[2016-03-02 00:33] #34 closed

[2016-03-02 00:35] tkell commented on #4
I want to close this monster and make separate issues for each Feature and Timing that we need.  Shout if that is a bad idea.

[2016-03-02 00:37] tkell commented on #29
Back on this:

- We have a license, so we're good there.
- I think @bmcfee has worked out most of the egregious bugs.
- I can move my hands again!

Worth making at 0.01?

[2016-03-02 01:51] tkell opened #38 "Iterating over features?"
One of my favorite things about Remix was the ability to do `for beat in beats`, and so on.

We don't currently have an iterator over features, e.g. `for amp in amplitudes`.

Likewise, we don't have an easy way to get TimeSlices and the features to use to manipulate them, unless we do something like:
[code]

I feel like we should:
a) make the data in the dataframe of a feature iterable.
b) Allow a

[2016-03-08 19:53] bmcfee commented on #38
Option (b) is similar in spirit to `dict.iteritems()` which generates key-value pairs from a dict.  I think something similar could be done here, maybe like:

[code]

I'd generally put the timing info first, for congruence with `iteritems`.

[2016-03-08 19:58] tkell commented on #38
Timing info first, can do.

I feel like this is a function that should be called by a Feature that has already been indexed, rather than making a new way of indexing a Feature.

This also allows us to put what timing a Feature has been indexed by in __repr__, which seems nice.

I did some stuff around part a) in #39, too.

[2016-03-08 20:04] tkell commented on #38
Update:  Got a sketch of `with_time()` in #39

[2016-03-13 03:07] tkell commented on #38
Added with_time for `FeatureCollection`, also in #39

[2016-03-22 03:16] tkell commented on #38
And merged & closed #39.  Please add other issues with it as needed!

[2016-03-22 03:16] #38 closed

[2016-03-22 03:17] tkell commented on #4
Closing as it was our original spec.  Will make an issue for making more issues!

[2016-03-22 03:17] #4 closed

[2016-03-22 03:20] tkell opened #41 "Feature: Key"
I guess the parent Audio object should have a key?

Or should we be cute and make it computable per-TimeSlice?

[2016-03-22 03:21] tkell opened #42 "Feature: Tempo"
We summon this when computing beats - we just need to add it to Audio, so we can do `audio.tempo`

[2016-03-22 03:22] tkell opened #43 "Feature: Time Signature"
...I feel like @bmcfee had some thoughts about how to do this, but I may be misremembering.

[2016-03-22 03:23] tkell opened #44 "Feature: Timbre"
Librosa gives us MFCCs - we should use those.

[2016-03-22 03:24] tkell opened #45 "Feature: Pitch Class"
Started in #40.  I think the only open question is what we should name the keys in the FeatureCollection.

[2016-03-22 03:25] tkell opened #46 "Feature: Pitch"
@bmcfee says "cgt", which I can't find in librosa.  Any wisdom?

[2016-03-22 03:27] tkell opened #47 "Feature: Loudness"
I am currently giving us `amplitude`, by using `librosa.feature.rmse`.  Please close if I am doing the right thing!

[2016-03-22 03:28] tkell opened #48 "Feature: Onsets"
I suspect we can get this with `librosa.onset.onset_detect`

[2016-03-22 03:28] tkell opened #49 "Feature: Bars"
@bmcfee had some thoughts about this - I feel like we said that we would not use librosa for this?

[2016-03-22 03:29] tkell opened #50 "Feature: Structural Boundaries"
What Remix called "sections".  Once again, I feel like @bmcfee had special magic.

[2016-03-22 03:31] tkell opened #51 "Blue Sky Features"
As per #4.  Let's do these after we do all the other ones.

Blue-sky feature wish list:
- [ ] instrument activation
- [ ] chord estimations
- [ ] melody/f0 contours
- [ ] high-level rhythmic analysis

[2016-03-28 23:57] tkell commented on #46
Closed with #40

[2016-03-28 23:57] #46 closed

[2016-03-30 13:24] tkell commented on #29
Update:  track/upload closes on May 31st.  I will get this out there before then.

[2016-04-05 02:25] tkell opened #54 "More Examples!"
- Combining two tracks
- Chaining functions
- Sorting
- etc etc

[2016-04-19 00:06] tkell opened #55 "Performance Issues"
...is my computer amazingly slow?  How long should it take for librosa to analyze a five minute long wav file?

I am getting like 45 second to a minute to create an Audio object, and even longer for my apparently awful synthesis code to run.  Has anyone had comparable experiences?

[2016-04-19 00:55] tkell commented on #55
a)  My machine takes a very long time to make an Audio object out of a five minute track.  Unsure where the problem is

b)  I'm re-generating the zero crossings _every time_ in synthesize.py.  I am going to fix this

c) We should have picked a better test file.  I may replace the pure-but-short amen.wav with some 3 minute jungle tune.

[2016-04-19 02:40] tkell commented on #55
Took a crack at b) with #56

[2016-04-19 12:06] bmcfee commented on #55
I can imagine a few bottlenecks, but yeah, zc calculation could add up.  Caching makes sense.

Have you profiled it?

[2016-04-20 02:11] tkell commented on #55
@bmcfee, I did some very low-rent profiling.  For a 5 minute track, zc calculations takes just under a second, and I was doing it for every beat.

I'm actually going to rip out the above code and just calculate zero indexes whenever we make an Audio object.  It clears up a ton of logic, and I think it is safe to assume that if we're loading a track, we're going to want to write it out.

[2016-04-20 03:08] tkell commented on #55
@bmcfee, I've updated #56 and it is so much better now.  Will do more profiling tomorrow

[2016-04-20 11:39] bmcfee commented on #55
Cool, makes sense.

[2016-04-21 01:52] tkell commented on #55
An example run of the profiling for loading our two-bar test track:
[code]

Basically we're getting owned on resampling.  @bmcfee, will your new resampler help with that at all?  And what would the cost be with not resampling and using the track's SR to do analysis?

[2016-04-21 02:06] bmcfee commented on #55
Do you know which resampler it's using?  (That is, do you get the scikits.samplerate warning on load?)

And what rates is it converting from/to?

How many resampling ops is it doing?  2sec is a lot for 2 bars of audio, which makes me think that it's either using scipy.signal.resample (slow), or doing way too many resample ops.

Yeah, probably.  If the above numbers are in fact using scikits.sample

[2016-04-21 02:11] bmcfee commented on #55
Sorry, forgot to hit the last point:

That'd be a big hornet's nest.  Basically, all of the timing parameters depend on the sampling rate, and it would be a real pain to thread that calculation through every stage of the analysis.  For some ops (cqt, chroma), there's no avoiding resampling -- it's part of the analysis itself.

But analysis is a one-time cost, most of the features are linear time (

[2016-04-21 02:24] tkell commented on #55
Rad.  As per our twitter convo, I will try out `resampy` this weeked / next week, and wrap the creation of an Audio object in https://pypi.python.org/pypi/tqdm.

[2016-04-21 02:29] tkell commented on #55
Closed #56 to fix b).

[2016-04-26 03:12] tkell commented on #55
@bmcfee, found an issue that I don't understand with resampy, but it mostly works!

If you create an Audio straight from raw samples, with very small data, like so:

[code]

You get yelled at when calculating the chroma:

[code]

This _appears_ to be related to the size of the array - the very small fake array fails, whereas when I do:

[code]

I am pretty sure I can patch around this tomorrow, as

[2016-04-26 10:57] bmcfee commented on #55
Oh, that's an interesting one.

The issue, I think, is that the signal is too short to do recursive down sampling. Probably the should be a length check for this in librosa. (I suspect resampy is doing the right thing.)

Can you strip this example down to not depend on Amen, and post it as an issue to librosa?

[2016-04-27 01:08] tkell commented on #55
Can do!

Also, things are less bad with resampy

[code]

[2016-04-27 13:52] bmcfee commented on #55
Ok, librosa and resampy are being updated to explicitly handle the short-signal case.

All this means here is that the exception you get will be more informative -- cqt-based analysis on a signal as short as the one you're using will still fail.

It's a little tricky to pin down how long an input needs to be, since it depends on the sampling rate and range of the CQT bins.  A conservative estimate

[2016-04-28 02:02] tkell commented on #55
With `kasier_fast`:

[code]

[2016-04-28 02:14] tkell commented on #55
This is in #59, which needs a new release of librosa that knows what `kaiser_fast` is, so we can pass it to Travis.

[2016-05-21 19:37] #55 closed

[2016-05-24 13:18] bmcfee opened #66 "Deformation architecture"
How do we want/expect people to manipulate audio within amen?

The `synthesize` function is great for re-arranging a clip by timing, but doesn't give us a handle on how to do things like, say, vocal subtraction or time-stretching.

Do we want to provide an object interface for this kind of thing?  Or just let folks hack functions themselves?  Either way, I think we should not support/allow in-plac

[2016-05-29 01:08] tkell commented on #66
Off the top of my head, I like the idea of returning a new Audio object (for time stretching) or two of them (for source separation).

I am not super fussed about `Audio(raw_samples=y_stretch,sample_rate=sample_rate, analysis_sample_rate=audio.analysis_sample_rate)`, though I agree it is not great.

I don't know if we should make these just functions like `synthesize`, or do something more heavywe

[2016-06-11 21:44] bmcfee opened #69 "zero-crossing alignment walks off the end of the sample buffer"
[code]

I think the problem here is that `bisect_right(arr, x)` can return `len(arr)` if `x > arr[i]` for all `i`.  We can detect this case and fall back to `bisect_left` (or just set it to the last element).

[2016-06-11 23:12] #69 closed

[2016-06-12 13:57] bmcfee opened #72 "TimeSlice.get_samples() minor error"
I'm not sure [this logic](https://github.com/algorithmic-music-exploration/amen/blob/master/amen/timing.py#L51-L64) is entirely correct for mapping slice points to zero crossings.

The bisection search finds the insertion index `i` of a value `v` into a sorted list `a`, but does not tell you which of `a[i], a[i+1]` is closer to `v`.

For example, if `a = [10, 20]`, both `11` and `19` have insertio

[2016-06-12 14:05] bmcfee opened #73 "TimeSlice.get_audio()"
In implementing a few remix hacks yesterday, I kept finding myself wanting to construct a new `Audio` object from a time slice.  Currently, the only way to do this is to extract the waveform by `get_samples()` and then instantiate a new `Audio` object.

This is undesirable for a few reasons:
1. It's clunky
2. It triggers a full copy and re-analysis of the audio

1 is okay, but 2 is a deal breaker

[2016-06-12 23:30] bmcfee commented on #72
Derp, disregard.  I didn't quite understand the full constraints of how this works.  The slicing should never cut below the desired duration, so it makes sense to `bisect_left` on the beginning and `bisect_right` on the end (if possible).

[2016-06-12 23:30] #72 closed

[2016-06-20 17:58] bmcfee opened #74 "Accelerating various ops"
Just jotting this down before I forget.

librosa 0.5 will add dynamic time warping (not totally relevant for amen), and as a side-effect, optional numba jit compilation for certain methods.

This should make it much easier to accelerate certain bottleneck ops like zero-crossing alignment.

[2016-07-17 03:34] tkell commented on #66
Two more thoughts:

a)  An Audio object has various methods, like `time_stretch` or `vocal_subtraction`, that returns new Audio objects.
b)  We make objects that do these things to Audio objects - `TimeStretcher`, etc.  They  also return new Audio objects.

I prefer a), I am pretty sure.  Your thoughts?

[2016-07-17 03:37] tkell commented on #73
I like this idea.  I am a bit leery of sharing audio buffers, as I can see some weird, wait-why-did-that-buffer-change things popping up.

Would this be a function of a TimeSlice?  `TimeSlice.to_audio()`, or something?

[2016-07-17 03:38] tkell commented on #74
:emoji indicating optimization:

[2016-08-27 14:09] EmadDesign opened #76 "try"
![057](https://cloud.githubusercontent.com/assets/21278538/18027918/f1671de4-6c78-11e6-87ce-3963e8002ddc.jpg)

[2016-08-27 14:38] #76 closed

[2016-08-27 17:47] MegaApuTurkUltra opened #77 "Don't snipe http://readme.md"
You guys are preventing it from being used for something more interesting :smile:

[2016-08-28 15:04] bmcfee commented on #77
I don't understand your post. Clarify please?

[2016-08-28 18:35] tkell commented on #77
Ahhh, I understand.

@bmcfee, Brian Whitman owns www.readme.md.  It used to route to pyechonest, then remix, and now it routes here.

@MegaApuTurkUltra, the owner of readme.md is not part of this organization.  I'll drop him a line, but I suspect that he won't change anything.

[2016-08-28 18:35] #77 closed

[2016-08-28 20:04] TalenceCrouch commented on #77
Hi what is your project can I help?

On Sunday, August 28, 2016, Thor <notifications@github.com> wrote:

[2016-09-14 18:26] tkell commented on #29
Oh, cool, we did this.  Nice work, team.

[2016-09-14 18:26] #29 closed

[2016-09-15 23:27] tkell commented on #44
This also needs to go into the Echo Nest Converter.

[2016-09-15 23:31] tkell opened #79 "Echo Nest Converter Features"
- Timbre
- A better loudness approach?  (EN does start, max, and time of max)
- Bars / downbeats
- Sections
- Stub tatums to be beats / 2
- Segments?  (This seems very hard and not within our ambit)

- Time Signature, at the track level.
- Key + Mode, at the track level.
- Loudness, at the track level

See http://developer.echonest.com/docs/v4/_static/AnalyzeDocumentation.pdf

[2016-09-16 06:38] Cortexelus commented on #48
Onsets make good segments, but the onset times themselves are not the best boundaries.

1. We want to find the nearest zero-crossing
 - less likely to get clicks when you concatenate
2. We want to set the segment boundary earlier to include the pre-onset head/attack.
 - less likely to hear next segment in the tail of the first
 - locate by backtracking to point of lower spectral flux
 - observe th

[2016-09-16 11:49] bmcfee commented on #48
@Cortexelus fair points. Have you seen the onset tweaking thread in the librosa issues?

[2016-09-16 23:01] Cortexelus commented on #48
Yeah. A simple backtracking method like the one @kylemcdonald explains is what I was thinking. (But now this time reassignment stuff is new to me and I am exploring it.)

[2016-09-16 23:24] Cortexelus commented on #48
It's useful to include both an onset time and a starting boundary. For example, in a rhythmic concat synth, you may want to start the segment early (pre-onset head) but align its onset time to the beat/pattern grid. This way a lengthy head doesn't interfere with the pulse of the pattern, but you still hear the full head (overlapped with the previous segments' tail)

[2016-09-17 05:02] Cortexelus commented on #48
I summon Tristan Jehan's thesis.

![image](https://cloud.githubusercontent.com/assets/2453861/18606055/cd0c68ec-7c71-11e6-818b-8f371e7e1ae2.png)
![image](https://cloud.githubusercontent.com/assets/2453861/18606059/ea87841a-7c71-11e6-9cc1-70159478fdfd.png)

[2016-10-02 21:55] tkell opened #80 "Potential processing using sox.py"
https://github.com/marl/medleydb/blob/master/medleydb/sox.py

^^ Are there things we can do with this?  Or does the fact that sox mostly works on files, not np.arrays make it not worth it.

[2016-10-02 22:14] bmcfee commented on #80
I think it's not worth it for core amen stuff, for two reasons:

1. it requires serialization / deserialization of audio data to work (like you say),
2. it adds a dependency to sox, which makes package maintenance much more difficult.

OTOH, if you wanted to write effects chains on top of amen using [pysox](https://github.com/rabitt/pysox), that wouldn't be difficult.

[2016-10-04 01:59] tkell commented on #44
Paging @bmcfee:  We can get, say, 20 MFCCS really easily - but do they then go in a FeatureCollection like so:

[code]

Numeric keys to dicts feel odd to me- do we have another way of doing it?  I don't think so, at first blush.

[2016-10-04 02:30] tkell commented on #44
Took a shot in #81, regardless.

[2016-10-05 01:35] tkell commented on #66
As a very simple example, harmonic/percussive splitting:  https://github.com/algorithmic-music-exploration/amen/pull/82

[2016-10-05 01:56] bmcfee commented on #66
Can you elaborate on why?  The space of audio deformations seems endless to me, and they obviously can't all live as Audio methods.

Deformer objects -- or even plain functions -- seem a lot more flexible and extensible.

[2016-10-05 02:11] tkell commented on #66
Yeah, that's a good point.  I think I like functions better, then - and maybe we stick all of 'em in one file? `from deformers import amen_time_stretch`, say?

(I think it comes from too much Ruby, and a desire to have objects do everything - as opposed to the Java idiom of having a AudioSplitterFactory to make an AudioSplitter to split the Audio, which I _hate_.)

[2016-10-05 02:16] tkell commented on #80
Hm.  Yeah, I want to avoid making people have sox, but I'd also rather not eventually reimplement a filter.

Closing for now, maybe we'll wrestle with it later.

[2016-10-05 02:16] #80 closed

[2016-10-13 09:53] wxy656 commented on #43
timeSignature =   duration_of_per_bar  /   duration_of_per_beats

that is how many beats in one bar

[2016-10-13 11:18] wxy656 commented on #49
This feature can be obtained by matching algorithm：
    1. create a variety of tempo template set, for example, 2/4 template is {strong, weak, strong, weak, strong, weak}, 4/4 template is {strong, weak , The second strong, weak}；
    2. use total beats   to match every templates and the one with highest match-rate maybe the music's time signature  , so that each cycle is a bar.

[2016-10-13 11:35] wxy656 commented on #41
I saw your code，and find pitch_names = [ 'c', 'c #', 'd', 'eb', 'e', 'f', 'f #', 'g' Ab ',' a ',' bb ',' b ']  in audio.py file  , do you use this array to match the pitch value of each beats?
So can we extracted every beat's key value  directly?

[2016-10-13 11:39] wxy656 commented on #45
can keys named as ['A', 'A#', 'B', 'C', 'C#', 'D', 'D#', 'E', 'F', 'F#', 'G', 'G#' ]?

[2016-10-21 00:14] tkell commented on #66
Did this as `from amen.deformation import harmonic_separation`, for the record - but there are only two functions, so we can change things if we want.

[2016-11-14 16:06] Cortexelus commented on #44
I asked Tristan Jehan and this is how he computed timbre on segments:

- PCA
- on spectrograms (23 critical bands at a sampling rate of 22050 Hz)
- using a large set of segments from different genres

For segments, he preserved the onset transient and normalized the length:

[2016-11-14 18:05] Cortexelus commented on #44
You can assign this to me. I have a large dataset of creative commons music in a wide variety of styles. I have a Telsa K80. I'll use incremental PCA to process segments in batches. I'll find the 12 basis functions.

[2016-11-15 00:22] tkell commented on #44
Hello @Cortexelus!  I don't think we need to exactly replicate Echo Nest timbre - and remember that we need to make sure whatever we get works at the frame level, so that it scales like everything else.

With that said, please take a shot at it!  If we can make it make sense with the rest of the system, it'd be rad to have

[2016-11-15 00:32] Cortexelus commented on #44
Ah! The timbre I'm on about works at the segment level (subdivisions according to onsets).

[2016-11-15 00:36] tkell commented on #44
Yeah, we don't have Echo Nest segments in this, and I don't want to have a Feature that does not work like all the other ones.  Surely this would work on frames as well?

[2016-11-15 00:54] Cortexelus commented on #44
Echo Nest segments were my favorite part of remix. They're essential. I already implemented a variation of Tristan's segmenter. He describes it in a few of his Media Lab papers. I can contribute that too.

[2016-11-15 00:58] Cortexelus commented on #44
MFCCs do a great job on frames already. But cool thing about segment timbre is that it's spectro-temporal envelope info.

[2016-11-15 03:35] Cortexelus commented on #44
I could also do MFCCs over time. Cepstral-temporal. I wonder how to best evaluate timbre representations.

Either way, the result of PCA on a dataset of music is a projection matrix which turns any arbitrary segment into a low-dimensional vector. Then it's more tractable to do stuff like similarity matrices, sorting, clustering.

[2016-11-16 02:22] tkell commented on #44
So the the thing to do is to build segments as some sort of Timing (https://github.com/algorithmic-music-exploration/amen/blob/master/amen/timing.py), and then we can get any Feature we want at the segment level.

[2016-11-25 15:14] tkell commented on #44
Closed with #81.  CJ, I am going to create a new issue for Echo Nest segments.

[2016-11-25 15:14] #44 closed

[2016-11-25 15:16] tkell opened #83 "Feature: Segments"
As per @Cortexelus on the timbre thread, it would be nice to have Echo Nest style segments as a Timing.

Will doing this make anything weird, in terms of how we handle Feature data with pandas?  I don't think so.

[2016-11-25 15:17] tkell commented on #45
Oh, cool, we did this with #40.

[2016-11-25 15:17] #45 closed

[2016-12-02 15:20] bmcfee commented on #83
Nope, it's just another type of time slicer.

There is an open issue in librosa to pull in some of Tristan's tricks for segment/onset timing: https://github.com/librosa/librosa/issues/305 ; probably best to wait on that to be merged before going forward.

[2016-12-08 05:14] MikeiLL opened #85 "Porting from Echonest"
Thank you! We're porting a web app from Echonest that is basically a fork of P. Sobot's [Forever.fm](https://github.com/psobot/foreverfm) and a couple of features we require are:

   1.  Crossfade (which was coming from Action/[cAction](https://github.com/echonest/remix/blob/ca227c9d885689e2fc8cad02171d2c29a167fa73/external/cAction/actionmodule.cpp))
    2.  AudioData (which I [grabbed](https://gi

[2016-12-09 03:30] tkell commented on #85
Hello!

We don't intend to recreate objects from Remix.  We are working on a tool for producing JSON that Remix can read, which is at `echo_nest_converter.py`.

We _may_ add things like crossfading, but they're a long way off.  We don't plan to support ffmpeg.

Without knowing much about the details of your app, I'd venture that your best bet is to use the above `echo_nest_converter.py` to produce

[2016-12-09 03:30] #85 closed

[2016-12-09 03:50] MikeiLL commented on #85
OK. Thanks for clarifying, Thor. Are you saying that basically we can continue to use Remix, but replace calls to the EchoNest API with the `echo_nest_converter.AudioAnalysis` object?

[2016-12-10 20:54] tkell commented on #85
Hello!

That should work, yes - though we don't match all features of Remix exactly.

Alternatively, you can use `echo_nest_converter.py` to produce a JSON file that Remix can read.

[2017-03-16 00:46] stevenalanstark opened #86 "version 0.0.0"
pip install is failing to find new lib changes because there are no version changes, the version is always 0.0.0.

In order to install, I can not use `pip install amen`, I need to instead use `pip install git+git://github.com/algorithmic-music-exploration/amen`

[2017-03-16 03:53] tkell commented on #86
You mean that installing from pip always gets you the version at https://pypi.python.org/pypi/amen/0.0.0, rather than the latest code?

[2017-03-16 03:58] stevenalanstark commented on #86
yes, correct. Both methods of installing result in version `0.0.0`, but have different code. For example, it's missing the echonest files.

I see in the code the version is set to `0.0.0` here: https://github.com/algorithmic-music-exploration/amen/blob/master/amen/version.py#L6

[2017-03-16 04:08] tkell commented on #86
Got it – we have not done a formal release in while, is all.  I'm wrestling with some other code, but once I am back to this, I will make 0.0.1.

I'm going to close this issue and make a new one for making a new release.  Thanks for the reminder!

[2017-03-16 04:08] #86 closed

[2017-03-16 04:08] tkell opened #87 "Make 0.0.1"
As per the comments in #86, we should get to this soon!

[2017-04-02 00:15] deanputney opened #88 "Installation test bug: TypeError: only integer scalar arrays can be converted to a scalar index"
When running the installation test script as described on the README I get this error:

[code]

I was able to trace this down to the `max_samples` array not being parsed properly to an array index when used in `sparse_array[:, 0:max_samples].toarray()`. I was able to fix the issue on my local system by changing this to `sparse_array[:, 0:max_samples[0]].toarray()`.

Not sure if this is an error as

[2017-04-02 17:43] tkell commented on #88
Cheers Dean - thanks for the find & glad you got it fixed.  We'll take a look at this soon.

[2017-04-25 17:33] vishrutkohli opened #89 "Is there any way to give the Audio input in the form of a URL?"

[2017-04-25 21:04] tkell commented on #89
Hello!

Nope - `amen` works strictly on local files.

We've got plans to make a web endpoint like the old Echo Nest Remix `track/upload`, but they're mostly plans for now:  https://github.com/algorithmic-music-exploration/amen-server

[2017-04-25 21:04] #89 closed

[2017-05-05 02:34] tkell commented on #49
As per an email from @bmcfee, we can use an incoming Python lib from McFee Labs(tm) for this.  ETA is July 2017 or so.

[2017-05-07 17:47] tkell commented on #88
Ahh, looks like this is caused by using librosa 0.5.  Got a fix locally, will push soon.  Many thanks!

[2017-05-07 18:25] tkell commented on #88
Fixed with https://github.com/algorithmic-music-exploration/amen/pull/90

[2017-05-07 18:25] #88 closed

[2017-05-08 02:14] tkell commented on #42
Done with https://github.com/algorithmic-music-exploration/amen/pull/91

[2017-05-08 02:14] #42 closed

[2017-05-08 03:27] tkell commented on #47
No comments for a year == closing!

[2017-05-08 03:27] #47 closed

[2017-05-14 19:16] tkell commented on #83
@bmcfee, looks like the above Issue / PR has been closed.  Can we use `onset_detect` and `onset_backtrack` to generate segments?

[2017-05-14 19:20] bmcfee commented on #83
Yup, it ought to work.

[2017-05-14 20:11] tkell opened #93 "Replace Nosetest"
...with py.test?  (https://docs.pytest.org/en/latest/)

This is ultra-boring tech debt stuff, right here.

[2017-05-15 02:30] bmcfee commented on #93
:+1:

[2017-05-15 02:49] tkell commented on #83
Closed with #95 !

[2017-05-15 02:49] #83 closed

[2017-05-15 23:31] tkell commented on #48
Closed with #95 !

[2017-05-15 23:31] #48 closed

[2017-05-15 23:31] tkell commented on #41
Hey @bmcfee, is a key estimator included in your Krema work?

[2017-05-16 00:13] tkell commented on #86
Done!

[2017-05-16 00:13] tkell commented on #87
Closed with #96

[2017-05-16 00:13] #87 closed

[2017-05-18 15:46] bmcfee commented on #41
Not yet, but it's on the roadmap.  I'm still struggling with beats/bars, but key should be relatively easy by comparison.

[2017-05-24 00:44] tkell opened #97 "Pip install for 0.0.1 fails"
`FileNotFoundError: [Errno 2] No such file or directory: '/private/var/folders/2c/99n_4g3n0ml7d1gz40y77jc00000gn/T/pip-build-5nik37q_/amen/examples'`

Ooops.  Working on it.

[2017-05-24 02:56] tkell commented on #97
Fixed with #98

[2017-05-24 02:56] #97 closed

[2017-05-24 02:57] tkell opened #99 "Package examples with installation"
I am open to not doing this, but it feels sort of nice to give such things to people.

On the other hand, they'll be down in some awkward place, and everyone can just copy the example code from here.

[2017-05-24 10:57] bmcfee commented on #99
How about an example gallery like librosa's? Then the code is easy to browse and download

[2017-05-25 02:41] tkell commented on #99
I believe the right emoji here is :+100000000:

[2017-09-05 02:39] EditFox opened #100 "Video support?"
I was kinda dissapointed when I saw this as the successor to the Remix API only to find it didn't have a feature that I wanted to try out. So far, importing an mp4 works and everything, all up until the export process. I'd love to see this feature implemented.

[2017-09-06 22:55] tkell commented on #100
Hello!  This is something that we'll probably get to _eventually_, but not soon.

(Remix did this by installing ffmpeg, which is not something that I want to do, as it makes the install process lousy.)

[2017-09-06 23:37] tomswisher commented on #100
Evan: can you put a step in your pipeline for youtube-dl ? It's what I did
with the old EN api.

On Wed, Sep 6, 2017 at 7:03 PM Thor <notifications@github.com> wrote:

[2017-09-06 23:38] tomswisher commented on #100
(Assuming you want an isolated audio track, which youtube-dl can provide)
On Wed, Sep 6, 2017 at 7:37 PM Tom Swisher <tomswisherlabs@gmail.com> wrote:

[2017-09-18 16:03] EditFox commented on #100
Tomswisher: I know how to download an isolated youtube-dl audio track. I just wanted a nice video support feature to make video remixes, like how Remix did it.

tkell: Alright, thank you!

[2017-09-22 17:50] bmcfee opened #101 "Profile amen analyzer"
For upstream acceleration prioritizing.

https://docs.python.org/3.6/library/profile.html

[2017-11-05 01:17] tkell opened #104 "Effects"
This is related to #66, but is a bit different:  if I want to put an effect (a delay or a compressor or a pitch shifter) on to a certain chunk of audio, how do I do that?

I think the correct answer is to build up effect chains that can then be applied to a given TimeSlice, and that are not applied until `synthesize` is called.  So track-level deformations trigger a new analysis, but you can also

[2017-11-05 16:01] tkell commented on #66
Also did this in #105 - @bmcfee, gonna close this issue unless you have Strong Opinions.

[2017-11-25 01:57] wolftune opened #107 "Swinger / Waltzify?"
Is there a way to use https://github.com/echonest/remix-examples/tree/master/waltzify and https://github.com/echonest/remix-examples/tree/master/swinger with amen?

Or do they need some rewriting?

[2017-11-26 21:25] tkell commented on #107
Hello!

You could hack them now, but it is not great:  Amen has no concept of 8th notes, so you'd need to split Beats in two by hand, and then do some tacky time-stretching.

[2017-11-26 22:46] wolftune commented on #107
@tkell thanks, is there already an issue for building the necessary backend for Amen?

[2017-11-27 00:54] #66 closed

[2017-11-27 00:55] tkell commented on #107
I can write them up, sure - I am not going to be doing any deep work on this for a while though, for the record.

[2017-11-27 00:57] tkell opened #108 "Per-TimeSlice timestreching / effects"
Needed to emulate the Swinger!  See #104 and #66 and #105 for current thinking and code around this.

It _may_ be helpful to allow a per-TimeSlice timestrech without impacting the entire parent Audio object – and maybe this happens at synthesis time?  Unsure yet.

[2017-11-27 00:58] tkell opened #109 "Tatums"
As per the request for the Swinger, we'd need to get to 8th notes or tatums.  The best thing to do is probably to read Tristan's thesis and re-implement from there.  (Or Brian McFee may have ideas.)

[2017-11-27 00:58] tkell commented on #107
Moved to #108 and #109, closing this one.

[2017-11-27 00:58] #107 closed

[2018-01-12 05:29] freekatet opened #110 "getting started"
Hi,
is there any links out there to get used to Amen?
i got it running but its not super straight forward to understand, would be awesome if there are more examples out there or even tutorials.
Also is there a way to easily port echonest script to amen ?

i am very interested in this one
https://github.com/echonest/remix/blob/master/examples/afromb/afromb.py

thanks a lot!!

[2018-01-13 15:07] tkell commented on #110
Hi there!

I'm working on other projects for the next little bit, so I don't have time to add any more examples - I assume you've seen the examples that we do have, here:  https://github.com/algorithmic-music-exploration/amen/tree/master/examples.

If you have any questions, I can do my best to answer them here!

[2018-01-13 23:07] freekatet commented on #110
hi @tkell !
yes i tried those examples ))
what is test_echo_nest_converter.py in the test folder? is there an actual way of porting remix script to amen ?
i will really excited to run this one
https://github.com/echonest/remix/blob/master/examples/afromb/afromb.py

or the related video stuff ✌️

thanks!!!!

[2018-01-14 00:08] tkell commented on #110
Hello!

So `echo_nest_converter.py` is a tool that turns an Amen `Audio` object into Remix-style JSON, so it can be used by the JavaScript version of Amen.  It does not port Remix scripts to Amen.  To the best of my knowledge, there's no easy way to port things over.  Sorry!

Video stuff is a very long ways off, also sorry!  If you want to just extract audio from video, you could look at `ffmpeg`,

[2018-04-02 01:57] tkell opened #111 "Explore using `librosa.effects.trim`"
I've had reports over email that this makes track-level results better - need to try it and add it if needed.

[2018-11-18 06:00] tomswisher opened #112 "Is amen dead?"
I would donate at the top tier to a Patreon to keep Amen going, or the 2018 equivalent. Pyechonest Remix catalyzed my push into professional frontend & dataviz development.

[2018-11-18 15:16] bmcfee commented on #112
I wouldn't say that it's dead, but it's also not a high priority item for us (the devs) right now.

There are a number of things that need doing within amen, and many of them are blocked by other projects.  For example, I'd like to (at some point) link up amen with [crema](https://github.com/bmcfee/crema) for better pitch class models, as well as root and bass following.  There's no major technica

[2018-11-18 17:10] tkell commented on #112
Hello, ty for the kind words!

Like Brian said, we've been busy on other things.  I will have time to work on Amen in 2019 - it will be one of my two sideprojects, so some things should happen fairly soon!

[2018-11-19 01:41] tomswisher commented on #112
Really appreciate the replies everyone! I can imagine how busy you must be in 2018, so it makes sense this project is taking a breather. My friends and I are thankful for the work you've done for the whole family of audio libraries.

This thread was sparked when I uncovered a short video of my 2014 Pyechonest demo. Maybe it can jog memories of your own projects from back then.
https://www.dropbox.

[2019-02-06 21:40] ChristinaLyu opened #113 "Creating Audiio Object with Local Wav Files"
Hi, I want to create a new Audio object with a local wav file, but it's giving me a NoBackendError. I'm wondering if you could please tell me how to fix this. My local wav file is called baiyang.wav. It is located in my local clone of amen, inside the example_audio folder with the two example audio. I used the same command in example_audio_file(). Below is the directory of my file and the error I

[2019-02-06 21:41] ChristinaLyu commented on #113
<img width="1280" alt="screen shot 2019-02-06 at 4 40 48 pm" src="https://user-images.githubusercontent.com/32347933/52375601-0f981c80-2a2e-11e9-9a78-cbba3551d82b.png">

[2019-02-08 02:18] tkell commented on #113
Hi there!

That's an error from librosa, a library that Amen uses for reading audio.  You can look around on the internet for various fixes, but [this thread](https://github.com/librosa/librosa/issues/589) is probably a good place to start.

Good luck!

[2019-02-08 02:18] #113 closed

[2019-02-11 16:37] ChristinaLyu opened #114 "Trouble with librosa"
I was trying to import amen, but it gave me such error as no module named librosa.
<img width="1280" alt="screen shot 2019-02-11 at 11 36 09 am" src="https://user-images.githubusercontent.com/32347933/52578006-594b8300-2df1-11e9-8ed9-8111f310b894.png">

[2019-02-13 01:59] tkell commented on #114
Hmm, so you don't have librosa installed!  You can probably fix this by doing `pip install librosa`.

If that does not work, how did you install amen?

[2019-07-17 01:30] tkell opened #115 "Modernize CI, Python Versions"
Hello @bmcfee, nice to see you around this part of the world!

I feel like we should update our CI to work on Python `3.7` and `3.6`, and remove `3.4` and `3.5`.

I'd also like to add `flake8` and `black` - and then we already have #93 to replace Nose with Pytest.

Do any of those seem like terrible ideas to you?

- [x] Update CI to use 3.5, 3.6, 3.7
- [x] Fix flake8 issues
- [x] Add flake8 to CI

[2019-07-17 01:31] tkell commented on #114
Closing due to lack of response - please open a new issue if you are still having problems!

[2019-07-17 01:31] #114 closed

[2019-07-17 01:33] tkell commented on #112
https://media.giphy.com/media/elnu9VKIfTIzu/giphy.gif

Closing because I am back working on this, hooray!

[2019-07-17 01:33] #112 closed

[2019-07-17 01:48] bmcfee commented on #115
I think we should keep 3.5, but otherwise agree with all that!

[2019-07-19 02:27] tkell commented on #115
Closing with #119, #120, #118, #117, and #116  !

🚀 🚀 🚀 🚀 🚀

[2019-07-19 02:27] #115 closed

[2019-07-21 23:37] tkell opened #121 "Run flake and black on tests"
I've seen a few things that don't do this, but we probably should!

[2019-07-27 08:25] kingfriday13 opened #123 "issue with librosa dependency <<module 'librosa.feature' has no attribute 'rmse'>>"
Just an fyi,

according to the librosa change log for .7.0 >> (Root mean square error (rmse) has been renamed to rms)

https://github.com/librosa/librosa/blob/17a5852ca1d052cb6f54ca9849c8fd97edf6c939/docs/changelog.rst

[2019-07-28 10:50] tkell commented on #123
Yep!  I've got an updated version that I need to release, which should be in a few weeks.  For now, you can drop librosa to 0.6.3.

Thanks!

[2019-07-28 10:51] tkell commented on #121
Closed with #120 and #118, hooray!

[2019-07-28 10:51] #121 closed

[2019-07-28 10:52] tkell commented on #93
Done with #122 !

[2019-07-28 10:52] #93 closed

[2019-08-17 16:41] tkell commented on #123
Fixed in code with #116, fixed in release with #124!

[2019-08-17 16:41] #123 closed

[2019-08-17 16:45] tkell commented on #74
Hello @bmcfee, I hope your day is excellent!  Amen is now running on librosa 0.7.0 - is the numba magic that you added there enough to do these speedups, or are there changes that need to be made in amen?

[2019-08-17 17:10] bmcfee commented on #74
Not sure, i'll have to take a skim through the amen code to see.

[2019-11-08 22:30] acenturyandabit opened #126 "libav-tools missing"
When i try to apt install libavtools on ubuntu 18.04, I get:
`Package libav-tools is not available, but is referred to by another package.
This may mean that the package is missing, has been obsoleted, or
is only available from another source
However the following packages replace it:
  ffmpeg:i386 ffmpeg
`
I can fix it locally, but it may be worth updating the readme. Cheers!

[2022-10-13 20:51] #9 closed

[2022-10-13 20:54] bmcfee opened #127 "Archive this?"
Hey pals,

We archived the amen-js repo last year.  What say we archive this overall?

[2022-10-14 14:25] tkell commented on #127
Suits me!